extends layout

block content
    div#maindiv
        div.contentdivs#leftdiv
            table
                each festival in locals.festivals
                    tr.festivalrows
                        td= festival.navn
                        td= festival.start
                        td= festival.slutt
                    tr.concertrows
                        td(colspan='6').tablecontainer
                            table
                                tr
                                    th ID
                                    th Band
                                    th Scene
                                    th Start
                                    th Varighet
                                    th Publikum
                                    th Bookingansvarlig
                                each concert in locals.concerts.getConcertsByFestivalID(festival.id)
                                    tr.concertrow
                                        td.concertids= concert.id
                                        td= concert.band
                                        td= concert.scene
                                        td= concert.start
                                        td= concert.duration
                                        td= concert.audience
                                        td= concert.bookingansvarlig

        div.contentdivs#rightdiv
            table#techtable
                tr
                    th= Navn
                    th= Tlf
                    th= Email




block scripts
    script(src='../js/arr-main.js')

block head
    link(rel="stylesheet" type="text/css" href="../css/arr-main.css")